body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(15, 15, 15);
    }

body * {
    margin: 0;
    border: 0;
    padding: 0;
}


.logo{
    width: 3rem;
    vertical-align: top;
}

.nombre{
    vertical-align: middle;
    font-size: 1.6rem;
}

hr{
    height: 2px;
}

p{
    font-weight: 300;
}


h2{
    font-weight: 500;
}

.navbar{
   transition: all 1s ease;
}

/*

@media (min-width:992px) and (max-width:1200px){
    .logo{
        width: 28%;
        padding-top: 1px;
    }
    .nombre{
        font-size: 1.1rem;
    }
}

@media (min-width:768px) and (max-width:991px){
    .logo{
        width: 35%;
        padding-top: 4px;
    }
 
}

*/